@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
}

#root {
  --primaryColor: #40196d;
  --lightBlueColor: #1dcbef;
  --blackColor: #000;
  --successColor: #18864b;
  --negativeColor: #f7685b;
  --textColor: #636369;
  --whiteColor: #fff;
  --whiteAlt: #fff;
  --darkAlt: #000;
  --offWhite: #f9f9f9;
  --offWhiteTrans: hsla(228, 7%, 87%, .3);
  --borderOff: hsla(228, 7%, 87%, .5);
  --offText: rgba(0, 0, 0, .5);
  --bgOffset: #f4f4f4;
  --placeHolder: #636369;
  --offBlue: #eff1ff;
  --boxShadow: rgba(64, 25, 109, .07);
  --offBlueTran: rgba(223, 227, 255, .3);
  --primaryAlt: #40196d;
  --offGreen: rgba(72, 211, 138, .5);
  --ctaOffBlue: rgba(64, 25, 109, .3);
  --overlay: rgba(64, 25, 109, .2);
  --successColorTrans: #dcffec;
}